<div id="interface">
<header>
  <h1>{{"Status de estabilidade de Nf" | uppercase}}</h1>
  <h2>{{"Nf eletrônica de todo o Brasil" | lowercase}}</h2>
</header>

<nav>
    <ul>

      <p>Clique e veja o status atual de todos os estados: </p>
      <li> <button id="at" (click)="statusAtual()" pButton type="button" label="Atualizar" icon="pi pi-refresh" class="p-button-secondary"></button> </li>

      <p>Clique e veja o estado atual com maior instabilidade: </p>
      <li> <button id="inst" (click)="statusInstabilidade()" pButton type="button" icon="pi pi-chart-bar " label="Maior Instabilidade" class="p-button-secondary"></button> </li>

      <p>Filtre por uma data:</p>
      <nav id="button">
        <button pButton (click)="statusData(dt.value)" type="button" style="font-size:2px" icon="pi pi-check" class="p-button-secondary" ></button>
      </nav>
      <li> <div class="sizes">
        <input
          #dt
          type="Date"
          class="p-inputtext-sm"
          placeholder="DD/MM/YYYY"
          pInputText/>
      </div> </li>

      <p>Filtre por um estado:</p>
      <nav id="button2">
        <button pButton type="button" (click)="statusEstado(st.value)" style="font-size:2px" icon="pi pi-check" class="p-button-secondary" ></button>
      </nav>
      <li> <div class="sizes">
        <input
          #st
          type="text"
          class="p-inputtext-sm"
          placeholder="Ex: GO"
          pInputText/>
      </div> </li>
      </ul>
  </nav>

  <div id="tabela">
    <p-table [value]="status">
      <ng-template pTemplate="header">
        <tr>
          <th>Estado</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-status>
        <tr>
          <td>{{status.estado}}</td>
          <td>{{status.status}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>
